// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "tom-select/dist/css/tom-select.css";
@import "star-rating.js/dist/star-rating.css";

// Your CSS partials
@import "components/index";
@import "pages/index";

.background {
background-color: rgba(3, 20, 172, 0.463);

}

body {
  background-image: image-url('movies_background.jpg');
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: darkblue;

}

h3 {

  color: rgb(5, 59, 255);
  font-style: bold;
  font-size: xx-large;
}

.card-category {

}
